# Tucil 2 Intelligensi Buatan 13521057_13521127

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib as mpl

In [2]:
df = pd.read_csv('data_train.csv')
df.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,804,1,0.8,1,12,1,41,0.9,89,1,...,709,818,2027,11,5,11,1,0,0,1
1,1042,0,2.2,0,15,1,11,0.6,139,5,...,68,1018,2826,18,0,2,1,0,0,2
2,1481,1,2.0,1,0,0,35,0.5,105,3,...,249,522,2635,17,16,4,1,0,1,2
3,1104,0,1.7,0,1,1,60,0.4,199,2,...,653,1413,1229,6,0,3,1,1,1,0
4,652,0,0.5,1,1,0,58,0.6,142,3,...,464,781,565,18,12,9,0,0,1,0

In [3]:
# Basic statistics of the data
df.describe()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
count,1400.000000,1400.000000,1400.000000,1400.000000,1400.00000,1400.000000,1400.000000,1400.000000,1400.000000,1400.000000,...,1400.000000,1400.000000,1400.000000,1400.000000,1400.000000,1400.000000,1400.000000,1400.000000,1400.000000,1400.000000
mean,1237.145714,0.493571,1.521714,0.502857,4.27500,0.530000,31.962143,0.507857,139.375714,4.481429,...,643.177857,1251.717143,2106.731429,12.285714,5.665000,11.042143,0.760714,0.489286,0.495000,1.477857
std,430.051785,0.500137,0.814723,0.500171,4.32417,0.499278,18.162970,0.288539,35.400803,2.279836,...,444.628980,428.982850,1078.347277,4.204198,4.372234,5.399052,0.426800,0.500064,0.500154,1.117575
min,501.000000,0.000000,0.500000,0.000000,0.00000,0.000000,2.000000,0.100000,80.000000,1.000000,...,0.000000,500.000000,256.000000,5.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000
25%,864.750000,0.000000,0.700000,0.000000,1.00000,0.000000,16.000000,0.200000,108.000000,2.000000,...,273.750000,876.500000,1201.000000,9.000000,2.000000,6.000000,1.000000,0.000000,0.000000,0.000000
50%,1219.000000,0.000000,1.500000,1.000000,3.00000,1.000000,32.000000,0.500000,139.000000,4.000000,...,561.000000,1247.000000,2102.000000,12.000000,5.000000,11.000000,1.000000,0.000000,0.000000,1.000000
75%,1602.000000,1.000000,2.200000,1.000000,7.00000,1.000000,48.000000,0.800000,169.000000,7.000000,...,950.250000,1627.500000,3035.750000,16.000000,9.000000,16.000000,1.000000,1.000000,1.000000,2.000000
max,1998.000000,1.000000,3.000000,1.000000,19.00000,1.000000,64.000000,1.000000,200.000000,8.000000,...,1960.000000,1998.000000,3998.000000,19.000000,18.000000,20.000000,1.000000,1.000000,1.000000,3.000000

# Data Cleaning

## Remove Duplicate Values

In [4]:
print("Rows before dropping duplicate values:", len(df))
df.drop_duplicates(inplace=True)
print("Rows after dropping duplicate values:", len(df))

Rows before dropping duplicate values: 1400
Rows after dropping duplicate values: 1400

## Check Missing Values

In [6]:
def check_null_data(data):
    missing = data.isnull().sum()
    nans = missing[missing > 0].sort_values(ascending=False)
    for col in nans.index:
        print(f"{col} Null Values: {round(100 - data[col].value_counts().sum()/len(data) * 100, 2)}% of the dataset ({len(data) - data[col].value_counts().sum()})")

In [7]:
check_null_data(df)

Dapat dilihat berdasarkan fungsi diatas yang mencari null value untuk tiap kolom, tidak ditemukan satu pun null value pada kolom-kolom yang ada di data sehingga data yand diberikan sudah bagus.

## Check Outlier Value

In [8]:
# Checking outlier value using Interquartile Range
Q1 = np.percentile(df, 25, interpolation = 'midpoint') 
Q2 = np.percentile(df, 50, interpolation = 'midpoint') 
Q3 = np.percentile(df, 75, interpolation = 'midpoint') 

print('Q1 25 percentile of the given data is, ', Q1)
print('Q1 50 percentile of the given data is, ', Q2)
print('Q1 75 percentile of the given data is, ', Q3)
 
IQR = Q3 - Q1 
print('Interquartile range is', IQR)

Q1 25 percentile of the given data is,  1.0
Q1 50 percentile of the given data is,  3.0
Q1 75 percentile of the given data is,  46.0
Interquartile range is 45.0

C:\Users\marce\AppData\Local\Temp\ipykernel_19356\88159869.py:2: DeprecationWarning: the `interpolation=` argument to percentile was renamed to `method=`, which has additional options.
Users of the modes 'nearest', 'lower', 'higher', or 'midpoint' are encouraged to review the method they used. (Deprecated NumPy 1.22)
  Q1 = np.percentile(df, 25, interpolation = 'midpoint')
C:\Users\marce\AppData\Local\Temp\ipykernel_19356\88159869.py:3: DeprecationWarning: the `interpolation=` argument to percentile was renamed to `method=`, which has additional options.
Users of the modes 'nearest', 'lower', 'higher', or 'midpoint' are encouraged to review the method they used. (Deprecated NumPy 1.22)
  Q2 = np.percentile(df, 50, interpolation = 'midpoint')
C:\Users\marce\AppData\Local\Temp\ipykernel_19356\88159869.py:4: DeprecationWarning: the `interpolation=` argument to percentile was renamed to `method=`, which has additional options.
Users of the modes 'nearest', 'lower', 'higher', or 'midpoint' are encouraged to review the method they used. (Deprecated NumPy 1.22)
  Q3 = np.percentile(df, 75, interpolation = 'midpoint')